  <div class="ml-auto col-sm-6">
  <section id="create_holiday_discount_form">
  <%= form_with model: @discount, url: merchant_discounts_path(@merchant, @selected_holiday), method: :post, local: true do |form| %>
      <p><%= form.label :discount %></p>
      <p><%= form.text_field :name, value: "#{@selected_holiday.name} Discount" %></p>

      <p><%= form.label :quantity_threshold %></p>
      <p><%= form.number_field :discount_quantity, value: 2 %></p>

      <p><%= form.label :discount_percentage %></p>
      <p><%= form.number_field :discount_percentage, step: 0.10, value: 0.30 %></p>

      <p><%= form.submit %></p>
    <% end %>
  </section>
</div>